<li class="werken-blog-box">
	<div class="recent-blog-inner check-clippath inner">
		<h2 class="post-title">{{posttitle}}</h2>
		<div class="post-detail">
			<span class="postauthor">{{door}} {{fieldauthor}}</span>
			<span class="postdate">- {{postdate}}</span>
		</div>
		<p>{{postcontent}}</p>
		<div class="recent-blog-link">
			<a class="btn btn-nobg font-soho-medium" href="{{singleurl}}">{{hierover}} <i class="iconc-arrow-button"></i></a>
		</div>
	</div>
</li>