<li class="collega-box">
	<div class="werken-post-inner check-clippath">
		<div class="werken-post-content">
			<div class="post-data">
				<h2>{{function}}</h2>
				<p>{{post_excerpt}}</p>
			</div>
			<div class="post-detail">
				<h3>{{auteur}}</h3>
				<div class="post-icon">
					<img src="{{avatarurl}}" />
				</div>
				<a data-popupid="content-popup-{{postid}}" class="btn werken-haspopup" href="#">{{mijn_verhaal}}<i class="iconc-arrow-button"></i></a>
			</div>
			<div id="content-popup-{{postid}}" class="collega-popup popup-style1">
				<a href="#" class="content-popup-{{postid}}_close popupclose_btn">{{sluiten}} <i class="iconc-close"></i></a>
				<img class="pattern-bottom" src="{{theme_url}}/images/icons/header-footer/1920-header-no-pattern-down.svg" />
				<div class="collega-popup-data">
					<div class="collega-avatar">
						<img src="{{avatarurl}}" />
						<h2>{{auteur}}</h2>
					</div>
					<div class="collega-content">
						<h2>{{post_title}}</h2>
						<h4>{{function}}</h4>
						<p>{{post_content}}</p>
					</div>
					<div class="collega-avatar collega-avatar-mobile">
						<img src="{{avatarurl}}" />
						<h2>{{auteur}}</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</li>