<li class="blog-box">
    <div class="blog-list-inner check-clippath inner">
        <h2 class="post-title">{{posttitle}}</h2>
        <div class="post-detail">
            <span class="post-date">{{postdate}}</span>
            <span class="post-leestijd"><i class="iconc-clock"></i> {{leestijd}} {{fieldleestijd}}</span>
        </div>
        <div class="post-content">
            <p>{{postcontent}}</p>
        </div>
        <div class="post-author">
            <div class="post-author-inner">
                <div class="author-detail">
                    <div class="author-avatar">
                        <img src="{{avatarurl}}" />
                    </div>
                    <span class="author-title">
                        <div>{{door}}</div>
                        <div class="author-name">{{fieldauthor}}</div>
                    </span>
                </div>
                <div class="post-link text-right">
                    <a class="btn btn-nobg font-soho-medium" href="{{singleurl}}">{{lees}} <i class="iconc-arrow-button"></i></a>
                </div>
            </div>
        </div>
    </div>
</li>