<section class="section-before-footer {{class}}">
    <div class="pattern-bg"></div>
    <div class="inner">
        <div class="bgimg {{bgimageclass}}" style="background-image:url('{{before_footer_image_url}}')"></div>
        <div class="content-wrapper">
            {{before_footer_content}}
        </div>
    </div>
     <div class="social-icons text-center mb70 show_on_landingpage ">
        <ul class="social-icons-ul social-style1">
            <span class="volg-text">{{deel_deze}}</span>
            <li><a id="twitter_link" href="https://twitter.com/intent/tweet?url={{share_page_url}}" target="_blank" class="trans"><span class="iconc-twitter"></span></a></li>
            <li><a id="linkedin_link" href="https://www.linkedin.com/cws/share?url={{share_page_url}}" target="_blank" class="trans"><span class="iconc-linkedin"></span></a></li>
            <li><a id="facebool_link" href="https://www.facebook.com/sharer.php?u={{share_page_url}}" target="_blank" class="trans"><span class="iconc-facebook"></span></a></li>
        </ul>
    </div>
</section>

<footer class="{{class}}">
    <div class="pattern-bg"></div>
    <div class="inner">
        <div class="team-bg" style="background-image:url('{{footer_image_url}}')"></div>
        <div class="content_footer">
            <div class="content_footer-inner">

                <div class="container">
                    <div class="col-md-6 col-sm-8">
                        <div class="footer-splintt-logo">
                            <img src="{{footer_logo_url}}">
                        </div>
                        {{footer_menu}}
                        {{legal_menu}}
                        <!-- <ul class="footer-menu">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Portfolio</a></li>
                            <li><a href="#">E-learning diensten</a></li>
                            <li><a href="#">Contact & service</a></li>
                            <li><a href="#">Wij zijn de splintters</a></li>
                            <li><a href="#">Werken bij</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Partners</a></li>
                        </ul>
                        <ul class="legal-page-menu mt40">
                            <li><a href="#">Privacy Statement</a></li>
                            <li><a href="#">Algemene Voorwaarden</a></li>
                            <li><a href="#">Disclaimer</a></li>
                        </ul> -->
                    </div>
                   <!--  <div class="col-md-6 col-sm-4 block-second">
                        <ul>
                        </ul>
                    </div> -->
                    <div class="col-md-6 col-sm-4">
                        <div class="address-info-part">
                            <h4>{{contact}}</h4>
                            <span class="mb20">{{footer_address}}</span>
                            <span class="text">
                                <!-- <label>Tel: </label> --><a id="footer_telephone_link" href="tel:{{footer_telephone_land}}">{{footer_telephone}}</a>
                            </span>
                            <span class="text mb30">
                                <!-- <label>Email: </label> --><a id="footer_email_link" href="mailto:{{footer_email}}">{{footer_email}}</a>
                            </span>
                        </div>
                        <div class="nrto-part">
                            <a target="_blank"><img src="{{footer_nrto_img}}"></a>
                            <a target="_blank"><img src="{{footer_learning_img}}"></a>
                        </div>
                    </div>
                </div>
            

            </div>
        </div>
        <div class="copyright">
            <ul class="social-icons-ul">
                <span class="volg-text">{{volg_ons}}</span>
                <li><a id="twitter_link" href="{{theme_opt.contact_social_twitter}}" target="_blank" class="trans"><span class="iconc-twitter"></span></a></li>
                <li><a id="linkedin_link" href="{{theme_opt.contact_social_in}}" target="_blank" class="trans"><span class="iconc-linkedin"></span></a></li>
                <li><a id="facebool_link" href="{{theme_opt.contact_social_fb}}" target="_blank" class="trans"><span class="iconc-facebook"></span></a></li>
            </ul>
            <ul class="social-icons-ul ml40 xs-ml0 xs-mt15 hidden-for-page">
                <span class="volg-text">{{deel_deze}}</span>
                <li><a id="twitter_link" href="https://twitter.com/intent/tweet?url={{share_page_url}}" target="_blank" class="trans"><span class="iconc-twitter"></span></a></li>
                <li><a id="linkedin_link" href="https://www.linkedin.com/cws/share?url={{share_page_url}}" target="_blank" class="trans"><span class="iconc-linkedin"></span></a></li>
                <li><a id="facebool_link" href="https://www.facebook.com/sharer.php?u={{share_page_url}}" target="_blank" class="trans"><span class="iconc-facebook"></span></a></li>
            </ul>
        </div>
    </div>
</footer>