<div class="page-slide">
	<div class="singlepage_menu">
		{{topmenu}}
		{{selectmenu}}
	    <div data-sectionhash="{{sectionhash}}" class="close_singlepage_menu">
	    	<a data-overview="{{urlhistory}}" href="{{backurl}}" class="page-popup-wrapper_close" id="close_singlepage_menu">{{sluiten}} <i class="iconc-close"></i></a>	
	    </div>
	</div>
	<div class="page-slide-wrapper" id="page-slide-wrapper">
		{{bannerheader}}

		<div class="main-content">
			<div class="container-custom py50 xs-pb0">
				{{leerposts}}
			</div>
		</div>
		{{footerdata}}
	</div>
</div>