<div class="page-slide portfolioCt">
	<div class="singlepage_menu">
		{{topmenu}}
		{{selectmenu}}
	    <div class="close_singlepage_menu">
	    	<a data-overview="{{urlhistory}}" href="{{backurl}}" class="page-popup-wrapper_close" id="close_singlepage_menu">{{sluiten}} <i class="iconc-close"></i></a>	
	    </div>
	</div>
	<div class="page-slide-wrapper" id="page-slide-wrapper">
		{{bannerheader}}
		<div class="main-content">
			<div class="container-custom py50">
				<div class="top-list text-center">
					<ul class="single-portfolio-list">
						<li class="fw-sb">{{ingezette}}</li>
						{{listsdata}}
					</ul>
				</div>
				{{portfoliodata}}
			</div>
		</div>
		{{footerdata}}
	</div>
</div>