<section>
<div class="splintt-illustration">
    <div class="container">
        <div class="row">
            <div class="inner text-center">
                <img src="{{about.image}}">
                <h2>{{about.title}}</h2>
                <p> {{about.content}}</p>
                <div class="e-learningBtn-div">
                    <a href="{{about.linkleft}}" class="btn btn-pink mr30">{{about.textleft}} <i class="iconc-arrow-button"></i></a>
                </div>
                <div class="wie-zijnBtn-div">
                    <a href="{{about.linkright}}" class="btn btn-pink">{{about.textright}} <i class="iconc-arrow-button"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>