<section class="leren">
    <div class="container">
        <div class="row hidden-xs">
            <div class=" col-xs-12 col-sm-2"></div>
            <div class=" col-xs-12 col-sm-10">
                <div class="description">
                    <div class="leren-heading">
                        <span class="fw-b font-calibri-bold">{{leren_en_groeien}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class=" col-xs-12 col-sm-2">
                <figure class="">
                    <img src="{{homepage_quote_image}}">
                </figure>
            </div>
            <div class=" col-xs-12 col-sm-10">
                <div class="description">
                    <div class="leren-heading visible-xs">
                        <span class="fw-b font-calibri-bold">{{leren_en_groeien}}</span>
                    </div>
                    <p class="font-calibri">{{homepage_quote_text}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center"><a href="{{neiuws_page_url}}" class="btn btn-pink my40">{{neiuws_page_text}}<i class="iconc-arrow-button"></i></a></div>
</section>